<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
    <script src="../scripts\FoodMenu.js"></script>
    <script src="https://kit.fontawesome.com/11082b7a11.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <i class="fa-regular fa-house-blank"></i>
    <nav id = RestrauntMenu>
        <a id = About>About</p>
        <a id = FoodMenu>Food Menu</p>
        <a id = DrinkMenu>Drink Menu</p>
    </nav>
    <section id="Starters">
        <h1 >Starter</h1>
    </section>
    <section id = "Mains">
        <h1 >Entre</h1>
    </section>
    <section id = "Deserts">
        <h1>Desert</h1>
    </section>
</body>
</html>