<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
    <script src="../scripts\Restraunt.js"></script>
    <script src="https://kit.fontawesome.com/11082b7a11.js" crossorigin="anonymous"></script>
    <title>Restraunt</title>
</head>
<body>
    <i class="fa-solid fa-utensils"></i>
    <nav id = RestrauntMenu>
        <a id = About>About</p>
        <a id = FoodMenu>Food Menu</p>
        <a id = DrinkMenu>Drink Menu</p>
    </nav>
    <section id = RestrauntBlurb>
        <h1>Restaunt Blurb</h1>
        <p id = BlurbText></p>
    </section>
    <iframe id="RestrauntLocation" src="" frameborder="0"></iframe>
    <button id = "VisitWebsite"></button>
    <nav id = Socials>
    </nav>
</body>
</html>

