#RestaurantBlurb h1 {
    text-align: left;
}

#VisitWebsite {
    display: block;
    padding: 8px;
    background-color: indianred;
    margin-bottom: 7px;
    text-align: center;
}

#VisitWebsite:hover {
    background-color: brown;
}

#RestaurantLocation{
    border: 1px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    p{
        text-align: left;
    }
  }